@model Web_Shop.Models.BusinessModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Business Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsOk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.IsOk)
        </td>
        <td>
            @Html.DisplayFor(model => model.BuyDescription)
        </td>
        <td>
            @Html.DisplayFor(model => model.Group)
        </td>
        <td>
            @Html.DisplayFor(model => model.Price)
        </td>
        <td></td>
    </tr>


    @*@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
                </td>
            </tr>
        }*@

</table>
